@model Entities_POJO.Usuario
@using Entities_POJO;
<script src="~/Scripts/datetimeplugin.js"></script>
<script src="~/Scripts/moment.js"></script>
<script src="~/Scripts/moment-with-locales.js"></script>
<script src="~/Scripts/Views/AccountProfile.js"></script>

@{
    ViewBag.Title = "AccountProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var cuenta = ViewData["Cuenta"] as Cuenta;
}
<div class="container">
    <div class="row">
        <div class="col-12">
            @Html.AntiForgeryToken()
            @if (cuenta.ID_ROL == "05")
            {
                <h2>Perfil de Administrador</h2>
            }
            <div class="form">
                <div>
                    <label>Tipo de Identificación</label>
                </div>
                <select name="Tipo_Id" id="tipo-id-U">
                    <option value="">Seleccione uno</option>
                    <option value="Física">Física</option>
                    <option value="Jurídica">Jurídica</option>
                    <option value="DIMEX">DIMEX</option>
                    <option value="Pasaporte">Pasaporte</option>
                </select>
                <form id="frmPerfil">
                    @Html.CtrlInputDisabled(id: "txtId", type: "text", label: "ID", columnDataName: "ID")
                    @Html.CtrlInput(id: "txtNombre", type: "text", label: "Nombre", columnDataName: "NOMBRE")               
                    @Html.CtrlInput(id: "txtEmail", type: "text", label: "Email", columnDataName: "EMAIL")
                    @Html.CtrlInputDisabled(id: "txtEstado", type: "text", label: "Estado", columnDataName: "ESTADO")
                    @Html.CtrlInput(id: "txtCel", type: "text", label: "Telefono", columnDataName: "TELEFONO")
                    @Html.CtrlInputDisabled(id: "txtVerificado", type: "text", label: "Verificado", columnDataName: "VERIFICADO")
                </form>
            </div>
        </div>
    </div>
</div>
<div class="col-md-8">
    @Html.CtrlButton(viewName: "AccountProfile", id: "btnUpdate", label: "Guardar cambios", onClickFunction: "UpdateBanco", buttonType: "info")
</div>

