@model Entities_POJO.Usuario
@using Entities_POJO;

@{
    ViewBag.Title = "UsuarioProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var usuario = ViewData["Cuenta"] as Usuario;
}
<div class="container">
    <div class="row">
        <div class="col-12">

            @using (Html.BeginForm("_ActualizarCuenta", "Registrar", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                if (usuario.Id_Rol == "01")
                {
                    <h2>Perfil de Administrador</h2>
                }
                else if (usuario.Id_Rol == "02")
                {
                    <h2>Perfil de Usuario</h2>
                }
                else if (usuario.Id_Rol == "03")
                {
                    <h2>Perfil de Propietario</h2>
                }
                else if (usuario.Id_Rol == "04")
                {
                    <h2>Perfil de Agente de Bienes Raíces</h2>
                }
                else if (usuario.Id_Rol == "05")
                {
                    <h2>Perfil Bancario</h2>
                }
                if (usuario.Id_Rol == "06")
                {
                    <h2>Perfil de Administrador de Agencia</h2>
                }
                <div class="form-">
                    <table class="">
                        <tr>
                            <th>Nombre:</th>
                            <td>
                                @Html.TextBox("Nombre", usuario.Nombre)
                            </td>
                        </tr>
                        @if (usuario.Id_Rol != "05" && usuario.Id_Rol != "06")
                        {
                            <tr>
                                <th>Apellidos:</th>
                                <td>
                                    @Html.TextBox("Apellidos", usuario.Apellidos)
                                </td>
                            </tr>
                        }
                        <tr>
                            <th>Correo Electrónico:</th>
                            <td>
                                @Html.TextBox("Email", usuario.Email)
                            </td>
                        </tr>

                        <tr>
                            <th>Rol:</th>
                            <td>
                                @Html.Label("Nombre de Rol", usuario.Nombre_Rol)
                            </td>
                        </tr>

                        <tr>
                            <th>Teléfono:</th>
                            <td>
                                @Html.TextBox("Teléfono", usuario.Telefono)
                            </td>
                        </tr>

                        <tr>
                            <th>Estado:</th>
                            <td>
                                @Html.Label("cuenta", usuario.Estado)
                            </td>
                        </tr>

                        @if (usuario.Id_Rol != "05" && usuario.Id_Rol != "06")
                        {
                            <tr>
                                <th>Fecha Nacimiento:</th>
                                <td>
                                    @Html.TextBox("cuenta", usuario.Fecha_Nac)
                                </td>
                            </tr>
                        }
                        <tr>
                            <th>Verificado:</th>
                            <td>
                                @Html.Label(usuario.Verificado.ToString())
                            </td>
                        </tr>
                        <tr><td colspan="2"><input type="submit" value="Guardar Cambios" class="btn btn-info"></td></tr>
                    </table>
                </div>
            }
        </div>
    </div>
</div>

