@model Entities_POJO.Usuario
@using WebApp.Helpers;
<script src="~/Scripts/datetimeplugin.js"></script>
<script src="~/Scripts/moment.js"></script>
<script src="~/Scripts/moment-with-locales.js"></script>
<script src="~/Scripts/Views/vPerfil_Administrador.js"></script>

@{
    ViewBag.Title = "vPerfil_Administrador";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Administrador: @Session["Nombre"]</h2>
<div class="card-body">
    Actualización de Datos
    <div class="row">
        <form id="forma_Admin_Upd">
            @Html.CtrlInput(id: "txtId", type: "text", label: "ID", columnDataName: "Id")
            @Html.CtrlInput(id: "txtTipoId", type: "text", label: "Tipo de Identificación", columnDataName: "Tipo_Id")
            @Html.CtrlInput(id: "txtNombre", type: "text", label: "Nombre", columnDataName: "Nombre")
            @Html.CtrlInput(id: "txtApellidos", type: "text", label: "Apellidos", columnDataName: "Apellidos")
            @Html.CtrlInput(id: "txtDoB", type: "date", label: "Fecha de Nacimiento", columnDataName: "Fecha_Nac")
            @Html.CtrlInput(id: "txtEmail", type: "text", label: "Email", columnDataName: "Email")
            @Html.CtrlInput(id: "txtTelefono", type: "text", label: "Teléfono", columnDataName: "Telefono")
        </form>
    </div>
</div>
