@model Entities_POJO.Cuenta
@{
    ViewBag.Title = "vRegistrarBanco";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/Views/vRegistrarBanco.js"></script>

<h3>Registrar Banco</h3>

<div class="card border-secondary" style="margin-top: 50px;">

    <div class="card-body">
        <div class="row">
            <div class="col-lg-6">
                <div class="bs-component">
                    <form id="frmBanco">
                        @Html.CtrlInput(id: "txtTipoId", type: "text", label: "Tipo Id", columnDataName: "Tipo_Id")
                        @Html.CtrlInput(id: "txtId", type: "text", label: "Id", columnDataName: "Id")
                        @Html.CtrlInput(id: "txtNombre", type: "text", label: "Nombre", columnDataName: "Nombre")
                        @Html.CtrlInput(id: "txtCorreo", type: "email", label: "Correo", columnDataName: "Email")
                        @Html.CtrlInput(id: "txtTelefono", type: "tel", label: "Telefono", columnDataName: "Telefono")
                        @Html.CtrlInput(id: "txtPwdB", type: "text", label: "Contraseña", columnDataName: "Contrasenna")
                    </form>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="col-lg-6">
                @Html.CtrlButton(viewName: "vRegistrarBanco", id: "mostrarPwdB", label: "Mostrar", onClickFunction: "ShowPwdB", buttonType: "info")
                @Html.CtrlButton(viewName: "vRegistrarBanco", id: "ocultarPwdB", label: "Ocultar", onClickFunction: "HidePwdB", buttonType: "info")
            </div>
        </div>
    </div>
    <div class="card-header">
        <div class="row pull-right">
            <div class="col-md-4">
                @Html.CtrlButton(viewName: "vRegistrarBanco", id: "btnCreate", label: "Guardar", onClickFunction: "CreateBanco", buttonType: "success")
            </div>
        </div>
    </div>
</div>