@model Entities_POJO.Usuario
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/Site.css" rel="stylesheet" />
<script src="~/Scripts/Views/ControlActions.js"></script>
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout_login.cshtml";
}

@using (Html.BeginForm("vLogin", "Home", FormMethod.Post))
{
    <legend>Bienvenido</legend>
    <legend>Por favor ingrese sus credenciales:</legend>
    <fieldset>
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @if (@ViewBag.Message != null)
        {
            <div style="border: 1px solid red">
                @ViewBag.Message
            </div>
        }
        <table>
            <tr>
                <td>@Html.Label("Correo Electrónico")</td>
                <td>@Html.TextBoxFor(a => a.Email)</td>
                <td>@Html.ValidationMessageFor(a => a.Email)</td>
            </tr>
            <tr>
                <td>
                    @Html.Label("Contraseña")
                </td>
                <td>
                    @Html.PasswordFor(a => a.Contrasenna)
                </td>
                <td>
                    @Html.ValidationMessageFor(a => a.Contrasenna)
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="Login" />
                </td>
                <td></td>
            </tr>
            <tr>
                <td><a href="@Url.Action("vRegistrarCuenta", "Home")"><span>Registrarse</span></a></td>
                <td></td>
            </tr>
        </table>
    </fieldset>
} 